@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i');

:root {
  --white: #FFFFFF;
  --black: #172241;
  --gray: #f4f7f6;
  --gray-dark: #6c7680;
  --teal: #4bc3c9;
}

body, html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: var(--black);
  text-align: left;
  background-color: var(--gray);
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

p{
  color: var(--gray-dark);
}



h1 {
  color: var(--teal);
  font-weight: 400;
}

h2 {
  font-size: 2.125rem;
  padding: 0 1rem;
}

h3 {
  font-size: 1.5rem;
  padding: 0 .5rem;
  font-weight: 300;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  max-width: 1400px;
  margin: 2rem auto;
}

.flex-container > * {
  padding: 15px;
  flex: 1 100%;
}

header {
  display: flex;
  text-align: center;
}


input[type=search],
input[type=text] {
  font-size: 1rem;
  font-weight: 300;
  background-clip: padding-box;
  transition: all .2s ease;
  outline: 0;
  -webkit-appearance: none;
  width: 100%;
  resize: none;
  padding: 1rem;
  border: 1px solid var(--gray);
  margin-bottom: 2rem;
}

input:hover, input:focus {
  transition: all .2s ease;
  cursor: auto;
  border: 1px solid var(--teal);
}

.apps-list {
  flex: 1;
  order: 2;
  text-align: left;
}

.app {
  margin: 10px;
  text-align: left;
  border-bottom: 1px solid black;
}

.app ul {
  list-style-type: none;
}

/*Pagination*/

