.tags {
  color: var(--teal);
}

.app-item {
  position: relative;
  width: 100%;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  box-shadow: 0 2px 3px 0 #e8ebed, 0 0 3px 0 #e8ebed;
}

.box-info:hover{
  background-color: rgba(244,247,246,0.3);
}

.box-info {
  transition: all 0.3s ease-in-out;
  padding: 1.5rem;
  flex: 1;
  position: relative;
  clear: both;
  background-color: var(--white);
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.box-info--content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.box-info--footer {
  display: flex;
}

.box-info--footer ul {
  display: inline-flex;
}

.box-info--footer li {
  display: inline-flex;
  align-items: baseline;
  padding: 0 1rem 0 0;
}

.box-info--footer li span {
  color: var(--gray-dark);
}

.pagination {
  text-align: center;
  order: 3;
}

.pagination {
  width: 100%;
}

.pagination ul{
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  justify-content: center;
}

.pagination li {
  margin-right: .25rem;
}

.pagination li:last-child {
  margin-right: 0;
}

.pagination li {
  transition: all 0.3s ease-in-out;
  color: var(--gray-dark);
  padding: .375rem .4375rem;
  text-decoration: none;
}

.pagination li:hover {
  background: var(--teal);
  color: var(--white);
  cursor: pointer;
}

.pagination li:focus {
  box-shadow: inset 0 0 0 2px var(--teal);
}

.pagination li:active {
  background: var(--gray-dark);
  color: var(--white);
}

.pagination li.active {
  background: var(--teal);
  color: var(--white);
  pointer-events: none;
}

.pagination .active {
  background: var(--teal);
  color: var(--white);
  pointer-events: none;
}

.disabled {
  pointer-events:none;
  opacity:0.3;
}